# http://editorconfig.org
root = true

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.py]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[.gitattributes]
indent_style = tab

[LICENSE]
insert_final_newline = false
