[submodule "parser/java"]
	path = parser/java
	url = https://github.com/niyaton/kenja-java-parser.git
[submodule "parser/csharp"]
	path = parser/csharp
	url = https://github.com/sdlab-naist/kenja-csharp-parser.git
